@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500&display=swap');

body{
  font-family: 'Bebas Neue', cursive;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
